@charset "UTF-8";

/*Обнуление*/
/*     РАЗКОМЕНТИРОВАТЬ ПРИ ДОБАВЛЕНИИКАТЕГОРИЙ ТОВАРА НА ГЛАВНОМ ЭКРАНЕ(убрать слеши со звездочкой в начале и конце строки) */
/* @media (max-width: 450px) {

    
/*   .mouse-parallax {
  height: 500px !important;
  } */
}
/* @media (max-width: 550px) {
.mouse-parallax {
    height: 450px !important;
} }*/

/*  @media (max-width: 800px){
.mouse-parallax {
    height: 750px !important;
	 }
.mousebg2 {
    top: 30% !important;
    left: 10% !important;
}
.mousebg3 {
    top: 30% !important;
    left: 60% !important;
}
} */



img[src=""] {
    display: none;
}

.delighter {
  opacity: 0;
  -webkit-transform: translatey(50%);
  -ms-transform: translatey(50%);
  transform: translatey(50%);
  -webkit-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}

.delighter.started {
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

@font-face {
	font-family: 'Supermolot';
	src: url('../fonts/Supermolot.eot');
	src: local('Supermolot'),
		url('../fonts/Supermolot.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Supermolot.woff') format('woff'),
		url('../fonts/Supermolot.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Supermolot';
	src: url('../fonts/Supermolot-Light.eot');
	src: local('Supermolot Light'), local('Supermolot-Light'),
		url('../fonts/Supermolot-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Supermolot-Light.woff') format('woff'),
		url('../fonts/Supermolot-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Supermolot';
	src: url('../fonts/Supermolot-Bold.eot');
	src: local('Supermolot Bold'), local('Supermolot-Bold'),
		url('../fonts/Supermolot-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Supermolot-Bold.woff') format('woff'),
		url('../fonts/Supermolot-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Supermolot", sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

.header {
  background-color: #000;
  color: #fff;
}

.mobile_btn {
  display: none;
}

.header_wrap {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.header_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
}

.dunaev {
  text-transform: uppercase;
  color: #fff;
}

.dunaev p {
  letter-spacing: 7px;
}

.dunaev h2 {
  font-size: 34px;
  font-weight: 700;
}

.header_logo img {
  max-width: 328px;
}

.header_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_tel a {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 5px;
  display: inline-block;
  color: #fff;
}

.header_tel::before {
  content: url("../img/phone.svg");
  height: 20px;
  width: 20px;
}

.header_shop a {
  color: #fff;
  background-color: #18b9b1;
  padding: 5px 25px;
  display: inline-block;
  border-radius: 50px;
  font-size: 12px;
}

.footer_logo {
  max-width: 200px;
}

.footer_logo img {
  max-width: 70%;
  margin: 0 auto;
}

.footer_wrap {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  padding-bottom: 40px;
}

.footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_dun p {
  font-size: 13px !important;
  letter-spacing: 5px;
}

.footer_dun h2 {
  font-size: 26px !important;
}


body {
  font-family: "Supermolot", sans-serif;
  overflow-x: hidden;
}

.anim {
  -webkit-animation: show 11.5s linear;
          animation: show 11.5s linear;
}

@-webkit-keyframes show {
  from {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }

  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes show {
  from {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }

  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.anim2 {
  -webkit-animation: show 11.5s linear;
          animation: show 11.5s linear;
}

@keyframes show {
  from {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }

  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.anim3 {
  -webkit-animation: show 11.5s linear;
          animation: show 11.5s linear;
}

@keyframes show {
  from {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }

  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.bg {
  background-color: #000;
}

.first_wrap {
  max-width: 1035px;
  width: 100%;
  margin: 0 auto;
}

.main_video {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.no-webp .parallax_wrap{
  background-image: url("../img/zub.png"); }

.parallax_wrap {
  background-position: top;
  position: relative;
  background-repeat: no-repeat;
  margin-top: 70px;
  overflow: hidden;
  -webkit-animation: show 11.8s forwards;
          animation: show 11.8s forwards;
}

@keyframes show {
  0%, 90% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
    visibility: hidden;
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
}

.absol_light {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 25%;
  -webkit-animation: show 12.5s forwards;
          animation: show 12.5s forwards;
}

@keyframes show {
  0%, 90% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
    visibility: hidden;
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
}

.mouse-parallax {
  height: 350px;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding-top: 100px;
}

.mouse-parallax-bg {
  position: absolute;
  width: 110%;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.mouse-parallax-bg img {
  width: 35%;
  padding: 50px 50px;
  -webkit-animation: show 12.2s forwards;
          animation: show 12.2s forwards;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@keyframes show {
  0%, 90% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
    visibility: hidden;
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
}

.mousebg {
  position: absolute;
  width: 110%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  left: 30%;
}

.mousebg img {
  max-width: 35%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 50px 50px;
  -webkit-animation: show 12.4s forwards;
          animation: show 12.4s forwards;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@keyframes show {
  0%, 90% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
    visibility: hidden;
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
}

.mousebg2 {
  position: absolute;
  width: 110%;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  left: 60%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.mousebg2 img {
  width: 30%;
  padding: 50px 50px;
  -webkit-animation: show 12.6s forwards;
          animation: show 12.6s forwards;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@keyframes show {
  0%, 90% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
    visibility: hidden;
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
}

.mousebg3 {
  position: absolute;
  width: 110%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  left: 80%;
}

.mousebg3 img {
  width: 25%;
  padding: 50px 50px;
  -webkit-animation: show 12.7s forwards;
          animation: show 12.7s forwards;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@keyframes show {
  0%, 90% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
    visibility: hidden;
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
}

.mousebg4 {
  position: absolute;
  width: 110%;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  top: 60%;
  left: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.mousebg4 img {
  max-width: 250px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 50px 50px;
  -webkit-animation: show 12.6s forwards;
          animation: show 12.6s forwards;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@keyframes show {
  0%, 90% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
    visibility: hidden;
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
}

.mousebg5 {
  position: absolute;
  width: 100%;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  top: 64%;
  left: 20%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.mousebg5 img {
  max-width: 220px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 50px 50px;
  -webkit-animation: show 12.6s forwards;
          animation: show 12.6s forwards;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@keyframes show {
  0%, 90% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
    visibility: hidden;
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
}

.mousebg6 {
  position: absolute;
  width: 110%;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  left: 40%;
  top: 50%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.mousebg6 img {
  max-width: 220px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 50px 50px;
  -webkit-animation: show 12.6s forwards;
          animation: show 12.6s forwards;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@keyframes show {
  0%, 90% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
    visibility: hidden;
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
}

.mousebg7 {
  position: absolute;
  width: 110%;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  top: 60%;
  left: 52%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.mousebg7 img {
  max-width: 220px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 50px 50px;
  -webkit-animation: show 12.6s forwards;
          animation: show 12.6s forwards;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@keyframes show {
  0%, 90% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
    visibility: hidden;
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
}

.mousebg8 {
  position: absolute;
  width: 110%;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  top: 50%;
  left: 70%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.mousebg8 img {
  max-width: 220px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 50px 50px;
  -webkit-animation: show 12.6s forwards;
          animation: show 12.6s forwards;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@keyframes show {
  0%, 90% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
    visibility: hidden;
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
}

.about_us {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 100px;
}

.about_us h1 {
  text-transform: uppercase;
  color: #575757;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;
}

.text_anim {
  -webkit-animation: fade-in 13s forwards;
          animation: fade-in 13s forwards;
}

@-webkit-keyframes fade-in {
  0%, 90% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes fade-in {
  0%, 90% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.about_quality {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.quality1,
.quality2,
.quality3 {
  max-width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quality1 p,
.quality2 p,
.quality3 p {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  line-height: 1.3;
}

.quality1 img,
.quality2 img,
.quality3 img {
  max-width: 66px;
  margin-bottom: 10px;
}

.wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Основные стили */

/* Слайдер */

.slick-slider {
  min-width: 0;
}

/* Ограничивающая оболочка */

.product_item .slick-list {
  overflow: hidden;
  max-width: 300px !important;
}

/* Лента слайдов */

.product_item .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* Конкретный слайдер */

.product_item .slider {
  position: relative;
}

.product_item .slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
}

.product_item .slider .slick-arrow.slick-prev {
  left: 0;
  top: 60%;
  background: url("../img/arrow_l.svg") 0 0/40% no-repeat;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.product_item .slider .slick-arrow.slick-next {
  right: -18px;
  top: 60%;
  background: url("../img/arrow_r.svg") 0 0/40% no-repeat;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.product_item .slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.product_item .slider .slick-dots {
  display: none;
}

.product_item .slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

.product_item .slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}

.product_item .slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid #fff;
}

.product_item .slider__item {
  padding: 0px 15px;
}

.product_item .slider__item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
}

.new_product {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.product_item .slider__item {
  max-width: 300px !important;
}

.slider_text {
  color: #fff;
  margin-top: 25px;
  text-align: center;
}

.slider_text h2 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 15px;
  color: #fff;
}

.slider_text p {
  font-size: 14px;
  letter-spacing: 0.7px;
  line-height: 1.3;
  color: #fff;
}

.product_item {
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.product_wrap {
  max-width: 700px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.text_anim_card {
  -webkit-animation: fade-in 15s forwards;
          animation: fade-in 15s forwards;
}

@keyframes fade-in {
  0%, 90% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.footer2 {
  background-color: #000;
}

.f2 {
  padding-top: 50px;
}

.header2_content{
 background: url("../img/header_bg.jpg") center center no-repeat;
background-size: contain;}

.header2_content {
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  padding-bottom: 20px;
}

.header2 p {
  font-size: 12px;
  letter-spacing: 5px;
}

.header2 h2 {
  font-size: 28px;
}

.header2_logo img {
  max-width: 280px;
}

.header_shop2 a {
  color: #fff;
  background-color: #18b9b1;
  padding: 5px 25px;
  display: inline-block;
  border-radius: 50px;
  font-size: 12px;
}

.card_content {
  margin: 0 auto;
  margin-top: 30px;
}

.card_content h3 {
  max-width: 700px;
  margin: 0 auto;
  color: #3d3d3d;
  font-size: 15px;
  line-height: 1.15;
  font-weight: 500;
  letter-spacing: 0.3px;
}

.cards_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 750px;
  margin: 0 auto;
  margin-top: 50px;
}

.card_body {
  max-width: 25%;
  width: 100%;
  margin-bottom: 40px;
  padding: 0 5px;
}

.card_body a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card_body a p {
  color: #8f8f8f;
  font-size: 16px;
  line-height: 1.15;
  font-weight: 400;
  text-align: center;
  margin-bottom: 15px;
}

.card_body a img {
  display: block;
  text-align: center;
}

.product_card.wrapper {
  height: 100%;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Основные стили */

body.compensate-for-scrollbar {
  overflow: visible !important;
}

/* Слайдер */

.slick-slider {
  min-width: 0;
}

/* Ограничивающая оболочка */

.product_card .slick-list {
  overflow: hidden;
  max-width: 300px !important;
  padding: 0 !important;
  margin: 0 auto;
}

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Конкретный слайдер */

.slider_gallery {
  position: relative;
  padding: 0px 30px;
  margin-bottom: 15px;
}

.slider_gallery .slick-arrow {
  position: absolute;
  top: 90px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
}

.slider_gallery .slick-arrow.slick-prev {
  left: 0;
  background: url("../img/arrowB_l.svg") 0 0/50% no-repeat;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.slider_gallery .slick-arrow.slick-next {
  right: 0;
  background: url("../img/arrowB_r.svg") 0 0/50% no-repeat;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.slider_gallery.slick-arrow.slick-disabled {
  opacity: 0.2;
}

.product_card.slider__item {
  padding: 0px 15px;
  max-width: 300px !important;
}

.product_content {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.slider_mini {
  width: 80px;
  height: 80px;
  padding: 0 5px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.slider_mini img {
  width: 80px;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}

.slider_img {
  width: 300px !important;
}

.slider_img img {
  max-width: 300px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.product_content h1 {
  color: #8f8f8f;
  font-size: 30px;
  line-height: 1.15;
  font-weight: 500;
  padding: 0 10px 0px 0px;
}

.product_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product_card .slider_text {
  margin-left: 50px;
  text-align: left;
}

.product_card .slider_text p {
  color: #3d3d3d;
  font-size: 15px;
  line-height: 1.12;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 30px;
  letter-spacing: 0.3px;
}

.product_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
}

.product_head span {
  display: block;
  color: #3d3d3d;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
}

.pr_btn {
  background-color: #2398ab;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  padding: 10px 28px;
  border-radius: 50px;
  display: inline-block;
}

.form_body label {
  font-size: 13px;
  font-weight: 600;
}

@media (max-width: 800px) {
  .mousebg {
    left: 50%;
  }

  .mousebg2 {
    top: 60%;
    left: 10%;
  }

  .mousebg3 {
    top: 60%;
    left: 60%;
  }

  .mouse-parallax {
    height: 400px;
  }

  .mousebg4 {
    top: 45%;
    left: 10%;
  }

  .mousebg5 {
    top: 45%;
    left: 60%;
  }

  .mousebg6 {
    top: 60%;
    left: 10%;
  }

  .mousebg7 {
    top: 60%;
    left: 40%;
  }

  .mousebg8 {
    top: 60%;
    left: 70%;
  }

  .header_content {
    padding: 15px;
  }

  .header_logo img {
    max-width: 228px;
    width: 100%;
    display: block;
    height: auto;
  }

  .dunaev p {
    letter-spacing: 5px;
    font-size: 12px;
  }

  .dunaev h2 {
    font-size: 24px;
  }

  .header_tel a {
    font-size: 14px;
  }

  .about_us h1 {
    font-size: 24px;
  }

  .about_quality {
    padding: 0 15px;
  }

  .product_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer_content {
    padding: 0 15px;
  }

  .f2 {
    padding-top: 50px;
  }
}

@media (max-width: 767px) {
  .product_item .slider {
    padding: 0px 40px;
  }
}

@media (max-width: 700px) {
  .main_video video {
    width: 500px;
    height: 250px;
  }

  .main_video {
    text-align: center;
  }

  .product_head {
    padding: 0 15px;
  }

  .card_content h3 {
    padding: 0 15px;
  }

  .header2_content {
    padding-left: 10px;
    padding-right: 10px;
  }

  .header2_logo img {
    max-width: 180px;
  }

  .product_card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 550px) {
  .absol_light {
    max-width: 99%;
    bottom: 30%;
  }

  .mouse-parallax-bg img {
    width: 50%;
  }

  .mousebg {
    left: 50%;
  }

  .mousebg img {
    max-width: 40%;
  }

  .mousebg2 {
    top: 25%;
    left: 10%;
  }

  .mousebg2 img {
    width: 40%;
  }

  .mousebg3 {
    top: 25%;
    left: 60%;
  }

  .mousebg3 img {
    width: 35%;
  }

  .mousebg4 {
    top: 45%;
    left: 10%;
  }

  .mousebg4 img {
    max-width: 220px;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .mousebg5 {
    top: 45%;
    left: 60%;
  }

  .mousebg5 img {
    max-width: 220px;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .mousebg6 {
    top: 65%;
    left: 10%;
  }

  .mousebg6 img {
    max-width: 220px;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .mousebg7 {
    top: 65%;
    left: 30%;
  }

  .mousebg7 img {
    max-width: 220px;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .mousebg8 {
    top: 65%;
    left: 60%;
  }

  .mousebg8 img {
    max-width: 220px;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .mouse-parallax {
    height: 500px;
  }

  .header_logo img {
    max-width: 150px;
    padding: 0 5px;
  }

  .parallax_wrap {
    background-size: contain;
    margin-top: 40px;
  }

  .mouse-parallax {
    padding-top: 30px;
  }

  .about_us h1 {
    padding: 0 15px;
    font-size: 20px;
  }

  .dunaev h2 {
    font-size: 18px;
  }

  .header_tel a {
    font-size: 14px;
  }

  .header_shop {
    display: none;
  }

  .mobile_btn {
    display: block;
    text-align: center;
    margin-bottom: 30px;
  }

  .mobile_btn a {
    color: #fff;
    background-color: #18b9b1;
    padding: 8px 35px;
    display: inline-block;
    border-radius: 50px;
    font-size: 15px;
  }

  .product_item .slider__item {
    max-width: 250px !important;
  }

  .product_item .slick-list {
    max-width: 250px !important;
  }

  .product_head h1 {
    font-size: 20px;
  }

  .product_head span {
    font-size: 30px;
  }

  .pr_btn {
    font-size: 13px;
    padding: 5px 18px;
  }

  .product_card .slider_text {
    margin-left: 0;
    padding: 0 15px;
  }

  .product_card .slider_text p {
    margin-top: 0;
  }

  .header2_logo img {
    max-width: 100px;
  }

  .card_body {
    max-width: 33.3%;
  }

  .card_content h3 {
    font-size: 11px;
    font-weight: 700;
  }

  .card_body a p {
    font-size: 12px;
  }

  .card_body a img {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 450px) {
    .about_us h1{
      font-size: 14px;        
    margin-bottom: 20px;
    }
    .mouse-parallax {
     padding-top: 0px;
    }
    
  .parallax_wrap {
    margin-bottom: 15px;
    margin-top: 20px;
  }

  .header_logo img {
    max-width: 130px;
    padding: 0 5px;
    margin-left:20px;
  }

  .dunaev {
    max-width: 130px;
  }

  .dunaev p {
    font-size: 10px;
    letter-spacing: normal;
    font-weight: 300;
  }

  .dunaev h2 {
    font-size: 16px;
  }

  .header_tel {
    min-width: 105px;
  }

  .header_tel a {
    font-size: 12px;
  }

  .mouse-parallax-bg img {
    width: 55%;
      padding: 50px 50px 50px 30px;
  }

  .mousebg {
    left: 42%;
  }

  .mousebg img {
    max-width: 50%;
  }

  .mousebg2 {
    top: 135px;
    left: 38%;
  }

  .mousebg2 img {
    width: 50%;
  }

  .mousebg3 {
    top: 100px;
    left: 5%;
  }

  .mousebg3 img {
    width: 45%;
     padding: 50px 50px 50px 30px;
  }

  .mousebg4 {
    top: 240px;
    left: 5%;
  }

  .mousebg4 img {
    max-width: 220px;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .mousebg5 {
    top: 240px;
    left: 50%;
  }

  .mousebg5 img {
    max-width: 220px;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .mousebg6 {
    top: 340px;
    left: 0%;
  }

  .mousebg6 img {
    max-width: 210px;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .mousebg7 {
    top: 340px;
    left: 25%;
  }

  .mousebg7 img {
    max-width: 210px;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .mousebg8 {
    top: 340px;
    left: 52%;
  }

  .mousebg8 img {
    max-width: 210px;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .mouse-parallax {
    height: 300px;
  }

  .quality1 p,
  .quality2 p,
  .quality3 p {
    font-size: 12px;
  }

  .quality1,
  .quality2,
  .quality3 {
    max-width: 32%;
  }

  .about_us {
    padding-bottom: 50px;
  }

  .footer_logo img {
    max-width: 130px;
    padding: 0 5px;
  }

  .footer_dun {
    max-width: 130px;
  }

  .footer_dun p {
    font-size: 10px;
    letter-spacing: normal;
    font-weight: 300;
  }

  .footer_dun h2 {
    font-size: 16px !important;
  }

  .footer_wrap {
    margin-top: 50px;
  }

  body {
    overflow-x: hidden;
  }

  .main_video video {
    width: 350px;
    height: 250px;
      margin-top: 115px;
  }

  .main_video {
    text-align: center;
  }

  .product_card .slider_text p {
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.3px;
  }

  .product_head {
    margin-bottom: 20px;
  }

  .product_head span {
    margin-bottom: 5px;
  }

  .slider_img img {
    max-width: 200px;
    height: 170px;
  }

  .product_head h1 {
    max-width: 190px;
  }

  .header_shop2 a {
    padding: 5px 10px;
    font-size: 11px;
    text-align: center;
  }

  .header2_content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header2_logo img {
    max-width: 130px;
    margin: 0 20px;
  }

  .header2 {
    width: 90px;
  }
}

@media (max-width: 390px) {
.mousebg img {
    max-width: 53%;
}
}

@media (max-width: 365px) {
     .mousebg2 img {
    width: 60%;
  }

     .mousebg3 img {
         width: 52%;
    }
    .mousebg img {
    max-width: 60%;
  }
     .mouse-parallax-bg img {
    width: 62%;
  }

  .slider_img {
    width: 250px !important;
  }

  .product_card .slick-list {
    max-width: 250px !important;
  }
.header_tel a {
  font-size: 9px;
  }
 .header_tel{
     min-width: 0px; 
}
    
  .header_shop2 a {
    padding: 5px 7px;
    font-size: 8px;
    text-align: center;
  }
.header2_logo img {
    max-width: auto;
}
  
    .header2_content {
    justify-content: space-between
}
    .header2 {
    width: auto;
    }
}

@media (max-width: 340px) {
    .header_tel::before {
    content: url(../img/phone.svg);
    height: 10px;
    width: 10px;
    }
    
    .header2_logo img {
        max-width: 100px;
    }
    .header_logo img {
        max-width: 100px;
        margin-left: 0px;
    }
    .footer_logo img {
    max-width: 100px;
    }
    .footer_dun p {
        font-size: 10px !important;
    }
    .wrapper{
        width: 300px;
    }
}

.webp .parallax_wrap{ background-image: url(../img/zub.png); }

.webp .header2_content{ background: url(../img/header_bg.jpg) center center no-repeat;
background-size: contain;}
